* {
  box-sizing: border-box; 
}

.main_page, .question_page, .answer_page, .final_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start_button {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  font-size: 20px;
}

.first_header {
  text-align: center;
  margin-top: 20%;
} 

.question_header, .answer_page_h1 {
  margin-top: 16%;
}

.results_page_h1 {
  margin-top: 15%; 
}

.question_field {
  width: 100%; 
}

.question_form, .answer_field {
  /* border: 1px solid black; */
  width: 34%;
}

h2 {
  margin-bottom: 50px;
} 

fieldset {
  display: flex;
  flex-direction: column;
}

label {
  margin: 15px;
}

.submit_button, .restart_button {
  margin-top: 50px;
  
}

.button_container, h1 {
  text-align: center;
}

.answer {
  padding: 10px;
}

.grade {
  padding: 15px;
}

.score_range {
  padding-right: 15px;
}